bitcoinlib==0.7.1
cbor2==5.6.5
certifi==2024.12.14
charset-normalizer==3.4.1
coinkite-tap-protocol==1.2.2
fastecdsa==3.0.0
greenlet==3.1.1
idna==3.10
numpy==2.2.2
pycryptodome==3.21.0
pyscard==2.2.1
requests==2.32.3
SQLAlchemy==2.0.37
typing_extensions==4.12.2
urllib3==2.3.0
websockets==14.2
